@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: "IBM Plex Mono";
    background-image: url(background.png);
    background-size: auto 100vh;
}

::selection {
    background-color: #d4dce7;
    color: black;
}

main-container {
    position: absolute;
    top: 50%;
    translate: 0 -70%;
    margin: 0 64px;
}

h1 {
    font-size: 196px;
    font-weight: 400;
}

links-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 16px;
}

links-container a {
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 16px 16px;
    border: 1px solid white;
    margin-left: 24px;
    backdrop-filter: blur(16px);
}

links-container a:hover {
    background-color: white;
    color: black;
}

a.primary-link {
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 16px 16px;
    border: 1px solid white;
    margin-left: 24px;
}

a.primary-link:hover {
    background-color: transparent;
    color: white;
}
